*{
  padding: 0;
  margin: 0;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#profile__img{
  margin-top: 64px;
  width: 64px;
  height: 64px;
  border-radius: 275px;
}

#avatar{
  margin-left: 284px;
  margin-top: 44px;
}

#twitter{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 56px;
}

#slack{
  display: none;
}

.link-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-section a{
  text-decoration: none;
}

.btns{
  height: 76px;
  width: 1152px;
  margin-bottom: 24px;
  background-color: #EAECF0;
  color: #101828;
  border: none;
  border-radius: 8px;
}

.social-media{
  margin-bottom: 64px;
  padding: 24px 684px 24px 684px;
  display: flex;
}

#slack-icon{
  margin-right: 24px;
}

.footer{
  display: flex;
  padding: 0 112px 0 112px;
}

.footer-text{
  padding: 0 219px 0 219px;
  margin: 84px 32px 56px 32px;
  color: #667085;
}

.sponsors{
  margin-top: 80px;
  margin-bottom: 48px;
}